body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 24px;
    width: 100%;
    background-color: #FFDBC9;
}
header{
    background-color: #FFDBC9;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
h1{
    font-size: 100%;
    background-color: #EAD9FF;
}
h2{
    font-size:75%;
    padding-left: 3%;
    margin: 3px 0;
}
.form_d{
    color:#EAD9FF;
    padding-top:10px;
}
main{
    width:100%;
    display: block;
    border-bottom:1px solid #ccc;
    position:relative;
    background-image: url(sakaba.jpeg);
    background-size: cover;
}
footer{
    background-color: #EAD9FF;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font: size 100%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
select{
    font-size: 100%;
}
#form{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin:5px auto;
    color:#EAD9FF;
}
dt{
    width: 15%;
}
dd{
    width: 85%;
    margin:0 0 0 0;
}
/* #sele_d{

}
#sele_f{

}
#sele_c{

} */
#key{
    width: 95%;
    font-size:80%;
    background-color: #e1efff;
    box-shadow: 1px 1px 1px 0px #555;
}
#memo{
    width: 95%;
    font-size:80%;
    box-shadow: 1px 1px 1px 1px #555;
    background-color:rgb(241, 239, 239);
  }
ul{
    display:flex;
    flex-wrap: wrap;
    table-layout: fixed;
    width:96%;
    font-size: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    margin: 0 auto;
    cursor: pointer;
    width: 25%;
}
#save{
    background-color: #fff;
    color:#0d7dfd;
}
#save:hover{
    background: #0d7dfd;
    color:#fff;
}
#cancel{
    background-color: #fff;
    color:#808080;
}
#cancel:hover{
        background: #808080;
        color:#fff;
}
#remove{
    background-color: #fff;
    color:#ff0000;
}
#remove:hover{
    background: #ff0000;
    color:#fff;
}


table{
    margin: 0 auto;
    border:1px solid #FFD5EC;
    width: 98%;   
}
th{
    font-size:24px;
    text-align: center;
    background-color:#FFBEDA;
    border-bottom: 1px solid #FFD5EC;
}
.title{
    width: 20%;
}
.tl_d{
    width: 10%;
}
.tl_f{
    width: 10%;
}
.tl_c{
    width: 10%;
}
.content{
    width: 30%;
}
.date{
    width: 20%;
}
td{
    font-size:16px;
    background-color:rgb(241, 239, 239);
    border-bottom: 1px solid #FFD5EC;
}
.list_title:hover{
    background: #0d7dfd;
    color:#fff;
    cursor: pointer;
}
#clear{
    margin: 10px auto;
    border: 1px solid #666;
    text-align: center;
    background-color: #fff;
    color:#ff0000;
    cursor: pointer;
    width: 25%;
    font-size: 80%;
}
#clear:hover{
    background: #ff0000;
    color:#fff;
}

/* 星評価実装 */
/* .br-theme-fontawesome-stars .br-widget a {
    font-size: 5rem;
  } */
